.mySlides {display:none;}





@media screen and (max-width:600px)
{
.footer mt-auto py-3{
  display: inline-block;
}


.vegmenubanner{
   width: 100%;
   height: 300px;
}

@media screen and (max-width:360px)
{
.carousel-item{
  height: 0px;
}
}

}